body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

footer {
  /* padding: 200px; */
  margin-left: 150px;
  width: 600px;
}

label {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: rgb(240, 240, 240);
  width: 120px;
  border: 1px solid black;
  padding: 1px 6px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.mt-5 {
  margin-top: 100px;
}
